.photo {
  margin: auto;
  margin-bottom: 30px;
  max-height: 36rem;
  border-radius: 0.2rem;
  background: var(--color-1);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  flex-basis: 40%;
  padding: 1.5rem;
}

.img {
  flex-basis: 60%;
}

.img img {
  object-fit: cover;
  aspect-ratio: 1;
}

@media (max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

@media (max-width: 48rem) {
  .img,
  .details {
    flex-basis: 100%;
  }
}

.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a:hover {
  text-decoration: underline;
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.attributes li {
  margin-right: 2rem;
}

.attributes li::before {
  content: "";
  display: inline-block;
  height: 20px;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
  width: 2px;
  background: var(--color-6);
  margin-top: 5px;
}

.date {
  text-align: right;
  font-size: 0.875rem;
  font-style: italic;
}
