.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: var(--color-3);
  color: var(--color-1);
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.2s;
  min-width: 8rem;
  display: inline-block;
  text-align: center;
}

.button:hover,
.button:focus {
  outline: none;
  background: var(--color-4);
  box-shadow: 0 0 0 3px var(--color-2), 0 0 0 4px var(--color-3);
}

button:disabled {
  cursor: wait;
  opacity: 0.5;
}
